/Player.pyc
/__init__.pyc
/Slime.pyc
/Bomb.pyc
/Skeleton.pyc
/Golem.pyc
/Beholder.pyc
/Spike.pyc
/Chest.pyc
/Door.pyc
/Boomerang.pyc
/Orb.pyc
/HalfMoon.pyc
/Cyclone.pyc
/Boss.pyc
/Cage.pyc
/Dummy.pyc
/Neighbour.pyc
/Dog.pyc
/Sparkle.pyc
/Bone.pyc
